:root {
  /* Define our nice standart palette */
  /* Accents */
  --standart1: #FFA726;
  /* Links */
  --standart2: #aa60ff;
  /* Text */
  --standart3: #ebe6f8;
  /* Foreground */
  --standart4: #783d9f;
  /* Background Accent */
  --standart5: #2d2b55;
  /* Background */
  --standart6: #1f1f41;

  /* Define our nice blurple palette
  --blurple1: #ebe6f8;
  --blurple2: #d6cceb;
  --blurple3: #c2b3e1;
  --blurple4: #aa60ff;
  --blurple5: #783d9f;
  --blurple6: #2d2b55;
  --blurple7: #1f1f41;
   */
  /* orange trim */
  --orange2: #fad000;

  --black: #000000;
  --dark: #1a222c;

  /* Basic page styling (background + foreground) */
  --bg: var(--standart6);
  --bg-accent: var(--standart5);
  --fg: var(--standart4);
  --fg-reduced: var(--standart1);

  /* standartize buttons */
  --button-bg: var(--standart2);
  --button-fg: var(--standart5);

  /* Used around statuses + other items */
  --boxshadow-border: 0 4px 6px rgba(0, 0, 0, 0.1);
  --size: 20px;

  --text: var(--standart3);
  --link-fg: var(--standart2);
  --link-hover: var(--standart1);

  --warn: var(--standart2);

  --hero-text: var(--standart3);
  --hero-gradient-top: var(--standart5);
  --hero-gradient-bottom: var(--standart6);
}