:root {
  /* Define our nice standart palette */
  /* Accents */
  --standart1: #FFA726;
  /* Links */
  --standart2: #FF6384;
  /* Text */
  --standart3: #333333;
  /* Foreground */
  --standart4: #FFFFFF;
  /* Background Accent */
  --standart5: #ECECEC;
  /* Background */
  --standart6: #F7F5F2;
  /* orange trim */
  --orange2: #fad000;

  --black: #000000;
  --dark: #1a222c;

  /* Basic page styling (background + foreground) */
  --bg: var(--standart6);
  --bg-accent: var(--standart5);
  --fg: var(--standart4);
  --fg-reduced: var(--standart1);

  /* standartize buttons */
  --button-bg: var(--standart2);
  --button-fg: var(--standart5);

  /* Used around statuses + other items */
  --boxshadow-border: 0 4px 6px rgba(0, 0, 0, 0.1);
  --size: 20px;

  --text: var(--standart3);
  --link-fg: var(--standart2);
  --link-hover: var(--standart1);

  --warn: var(--standart2);

  --hero-text: var(--text);
  --hero-gradient-top: var(--standart3);
  --hero-gradient-bottom: var(--dark);

  --table-border: var(--standart3);
  --table-thead: var(--standart2);
  --table-hover: var(--standart3)
}