:root {
  /* Define our nice standart palette */
  --standart1: #ebe6f8;
  --standart2: #d6cceb;
  --standart3: #c2b3e1;
  --standart4: #aa60ff;
  --standart5: #783d9f;
  --standart6: #ffffff;
  --standart7: #ffffff;

  /* Override orange trim */
  --orange2: #fad000;

  /* Basic page styling (background + foreground) */
  --bg: var(--standart7);
  --bg-accent: var(--standart6);
  --fg: var(--standart1);
  --fg-reduced: var(--standart2);

  /* Profile page styling */
  --profile-bg: var(--standart6);

  /* standartize buttons */
  --button-bg: var(--standart2);
  --button-fg: var(--standart5);

  /* standartize statuses */
  --status-bg: var(--standart6);
  --status-focus-bg: var(--standart6);
  --status-info-bg: var(--standart5);
  --status-focus-info-bg: var(--standart5);

  /* Used around statuses + other items */
  --boxshadow-border: 0.08rem solid black;
  --size: 20px;

  --link-fg: var(--fg-accent);
}