.list-container-outer {
  background: linear-gradient(var(--bg-accent), var(--bg));
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.list-container {
  color: var(--text);
  align-self: center;
  font-size: 110%;
  width: 90%;
  margin: 0 auto;
  max-width: 1024px;
}

.list-container a {
  color: var(--link-fg);
  text-decoration: underline;
  &:hover {
    color: var(--link-hover);
  }
}

.list-item {
  background: var(--status-focus-bg);
  background: var(--status-bg);
  box-shadow: var(--boxshadow-border);
  border: var(--boxshadow-border);
  border-radius: var(--br);
  position: relative;
  margin:  0 0 1rem 0;
  padding: 0;
}

.list-item IMG{
  width: 100%;
}

.list-item-inner {
  padding: 0.5rem 0.75rem;
}

.list-item-date {
  text-align: center;
  background: var(--warn);
  .post-datetags {
    margin: 0;
  }
  a {
    color: var(--text);
  }
}