.single-container-outer {
  background: linear-gradient(var(--bg-accent), var(--bg));
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.single-container {
  color: var(--text);
  align-self: center;

  width: 90%;
  margin: 0 auto;
  max-width: 1024px;
}

.single-container a {
  color: var(--link-fg);
  text-decoration: underline;

  &:hover {
    color: var(--link-hover);
  }
}

.single-container .canonicalURL {
  text-align: center;
  background: var(--warn);
  padding: 5px;
  box-shadow: var(--boxshadow-border);
  a {
    color: var(--text);
  }
}

.single-item {
  background: var(--fg);
  box-shadow: var(--boxshadow-border);
  border-radius: var(--br);
  position: relative;
  margin: 1rem 0;
  padding: 0;
}

.single-item-content {
  padding: 0.5rem 0.75rem;
}

.single-container .thread {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0.5rem;
  box-shadow: var(--boxshadow-border);
}

.single-container .single-header {
  column-gap: 1rem;
  row-gap: 0.5rem;
  box-shadow: var(--boxshadow-border);
  text-align: center;
  padding: 20px 10px;
  background: var(--fg);
  position: relative;
  margin: 0 0 1rem 0;
}

.single-container .single-header H1 {
  margin: 0;
}

.single-item-date {
  text-align: center;
  background: var(--warn);
  padding: 5px;
  .post-datetags {
    margin: 0;
  }
  a {
    color: var(--text);
  }
}

.single-container pre {
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
  padding: 10px 10px;
}

.single-container pre code {
  font-family: "MesloLGS NF", "Source Code Pro", monospace;
  font-size: 12px;
}

.single-container IMG {
  width: 100%;
}

/* No Idea what to do with Codeblocks */
/*
.single-container .highlight pre {
  background-color: var(--bg) !important;
}
*/

/* #### */
/* List */
/* #### */
.single-container UL {

}
/* ##### */
/* TABLE */
/* ##### */
.single-container table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.single-container thead {
  background-color: var(--table-thead);
  color: white;
}

.single-container th, .single-container td {
  padding: 12px 15px;
  border: 1px solid var(--table-border);
}

.single-container th {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.single-container tr:nth-child(even) {
  background-color: var(--standart5);
}

.single-container tr:hover {
  background-color: var(--table-hover);
  color: var(--standart6);
  cursor: pointer;
}

.single-container tbody tr {
  transition: all 0.2s ease-in-out;
}

@media (max-width: 600px) {
  .single-container table {
    font-size: 14px;
  }

  .single-container th, .single-container td {
    padding: 8px 10px;
  }
}
