/* General Reset */
body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: 'MesloLGS NF', 'sans-serif', source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: var(--profile-bg);
  align-items: center;
  text-align: center;
  border-top-width: 1px;
  padding: 1px 0px;
}

.footer a {
  color: var(--link-fg);
  text-decoration: underline;
}

a {
  color: var(--link-fg);
  text-decoration: none;
}


.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-bar {
  width: 100%;
  background-color: var(--profile-bg);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-bar .nav-bar-inner {
  padding: 10px 10px;
}

.nav-bar ul,
.nav-bar li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list {
  display: flex;
  justify-content: center; // Center the navigation
  align-items: center;
  gap: 20px; // Space between menu items
}

.nav-item {
  margin: 0;
}


.nav-link {
  text-decoration: none;
  color: var(--fg);
  font-size: 18px;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--button-fg);
    color: var(--orange2);
  }

  &.active {
    background-color: var(--orange2); // Highlight active link
    color: var(--button-fg); // Contrast text color
    font-weight: bold;
  }
}

/* Style for the active link */
.nav-link[aria-current="page"] {
  //background-color: #FFD700; /* Highlight active link */
  //color: #1B2735; /* Contrast text color */
  background-color: var(--orange2); // Highlight active link
  color: var(--profile-bg); // Contrast text color
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; // Reduce gap for smaller screens
  }

  .nav-bar {
    padding: 15px;
  }

  .nav-link {
    font-size: 16px; // Adjust font size
    padding: 10px;
  }
}